* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto; /* Разрешить прокрутку */
  width: 100%;
  height: auto; /* Установить высоту по содержимому */
  background-color: #797c7e4d;  
  font-family: 'Oswald', sans-serif; /* Добавлен шрифт для всего тела */
}

header {  
  display: flex;  
  align-items: center; /* Центрирует элементы по вертикали */
  background-image: linear-gradient(#4076b7, #39669c);  
  padding: 1.2ch;  
  width: 100%;
  height: auto;
}

header > div {
  align-items: center;
  margin: 0 10px  
}

header #logo a {  
  align-items: center;
}

header #logo a img {
  width: 100%;
  height: auto;

}

header .btn img {
  width: 100%;
  height: auto;  
  align-items: center;
  border-radius: 15%;
  transition: background-color 0.5s ease-in-out;
}

header .btn img:hover {
  background-color: rgba(54, 62, 52, 0.38); /* Цвет фона при наведении */
}

#temp {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto; /* Высота по содержимому */
  margin: 0 auto;
  
}
#tempImage {
  height: auto; /* Установить максимальную высоту равной высоте фрейма */
  width: 80%;
}
#frame {
  position: relative;
  width: 80%;  
  max-width: 1200px;
  height: auto;
  background: rgba(76, 89, 73, 0.13);
  border-radius: 10%;
  border: 2px solid rgb(0, 0, 0);
  margin: 20px auto;
  display: flex;
  align-items: center;
  
}
.backgroundDiv {
  overflow: auto; /* Добавлено для обеспечения прокрутки */
}
.where {
  flex-direction: column;  
  margin-top: 30%;
  margin-left: 10%; /* Расстояние между блоками */
}

.centerDiv {
  background-color: #ffffff;
  padding: 20px;
  width: 80%;  
  border-radius: 30px;
  max-width: 1200px;
  margin: 70px auto; /* Добавлен отступ сверху и центрирование по горизонтали */
  box-sizing: border-box;
}

.articleHeader {  
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #333; /* Цвет текста */
   /* Выравнивание по центру */
  text-transform: uppercase; /* Преобразование текста в верхний регистр */  
}

.block {
  position: absolute;
  width: 2%;
  height: 2%;
  border-radius: 100%;
  background: red;
  opacity: 0%;  
}
#blockShoulder{
  left: 11.3%;
  top: 22.6%;
}
#blockShoulder2{
  left: 53%;
  top: 22.6%;
}
#blockСhest{
  left: 15%;
  top: 25.6%;
}
.where img {
  width: 60%;
  height: 60%;
}

.where-block {    
  width: 4%;
  height: 5.4%;
  border-radius: 100%;
  opacity: 50%;  
  position: absolute; /* Устанавливаем позиционирование */
  z-index: -1; /* Устанавливаем z-index, чтобы элемент находился за картинкой */
}
#where_home3{
  top: 61.2%;
}
#where_home2{
  top: 47.8%;
}
#where_home{
  top: 34.4%;
}
#textLogo{
  display: flex;
  flex-direction: column;  
}

.gif-container {
  display: flex;  
  border-radius: 10px;
  overflow: hidden;  
  
}

.gif-container img {
  margin-top: 2%;
  margin-left: 3%;
  width: 45%;
  box-shadow: 0px 2px 14px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: block;
}
.description {  
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Цвет текста */  
  margin: 20px 0; /* Внешние отступы сверху и снизу */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень текста */
}
#TUSURGYM{  
  font-family: Arial, sans-serif;  
  font-weight: bold;
  color: #333; /* Цвет текста */    
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень текста */
}